<% if (title) { %>
   <h1 id="edit-review-title"><%= title %></h1>

   <%- messages() %>

   <% if (errors) { %>
      <ul class="notice">
      <% errors.array().forEach(error => { %>
         <% if (error.msg !== "Invalid value") { %>
            <li><%= error.msg %></li>
         <% } %>
      <% }) %>
      </ul>
   <% } %>

   <p class="edit-review-heading">
    <strong>Reviewed on</strong> <em><%= review_date %></em>
  </p><br>

<form class="edit-review-form" action="/review/update" method="post">
  <label for="review_text">Review Text</label>
  <textarea id="review_text" name="review_text" required minlength="10"><%= review_text %></textarea>
  
  <input type="hidden" name="review_id" value="<%= review_id %>">
  <input type="hidden" name="inv_id" value="<%= inv_id %>">
  <input type="hidden" name="account_id" value="<%= account_id %>">
  
  <button type="submit" class="btn-blue">Update Review</button>
</form>


<% } else {
   res.redirect('/')
} %>